.container {
  width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.heading-section {
  font-size: 28px;
  color: #000; }

.justify-content-center {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px; }

body {
  background-color: #f8f9fd;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8; }

.table {
  color: #212529; }

.table thead tr {
  background: #fff;
  border-bottom: 4px solid #eceffa; }

.table tbody tr {
  margin-bottom: 10px;
  border-bottom: 4px solid #f8f9fd;
  padding: 30px !important;
  font-size: 14px;
  background: #fff;
  vertical-align: middle; }

.table tbody th, .table tbody td {
  border: none !important;
  padding: 30px !important;
  font-size: 14px;
  background: #fff;
  vertical-align: middle !important; }

.table thead th {
  border: none;
  padding: 30px !important;
  font-size: 13px;
  font-weight: 500;
  color: gray !important; }

.fa {
  font: normal normal normal 14px/1 FontAwesome !important; }

.table tbody td .close span {
  font-size: 12px;
  color: #dc3545; }

.close {
  opacity: .5; }

.close:hover {
  opacity: 1; }

.table tbody td .img {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%; }

.d-flex {
  display: flex !important; }

.align-items-center {
  align-items: center !important; }

.pl-3, .px-3 {
  padding-left: 1rem !important; }

.table tbody td .email span {
  display: block; }

.table tbody td .email span:last-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3); }

.table tbody td.status .active {
  background: #cff6dd;
  color: #1fa750; }

.table tbody td.status span {
  position: relative;
  border-radius: 30px;
  padding: 4px 10px 4px 25px; }

.table tbody td.status .active:after {
  background: #23bd5a; }

.table tbody td.status span:after {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%; }

.table tbody td.status .waiting {
  background: #fdf5dd;
  color: #cfa00c; }

.table tbody td.status span {
  position: relative;
  border-radius: 30px;
  padding: 4px 10px 4px 25px; }

.table tbody td.status .waiting:after {
  background: #f2be1d; }

.table tbody td.status span:after {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%; }
